### Imports

In [33]:
from splink.duckdb.duckdb_linker import DuckDBLinker
import splink.duckdb.duckdb_comparison_library as cl
from splink.duckdb.duckdb_comparison_library import (
    exact_match,
    levenshtein_at_thresholds,
    jaro_winkler_at_thresholds
)
import splink.duckdb.duckdb_comparison_template_library as ctl
import pandas as pd

### Creation of Label File

In [2]:
dataframe = pd.read_excel("../../Dataset/Febrl1_Data.xlsx")
true_labels = pd.read_excel("../../Dataset/True_links.xlsx")

In [3]:
true_labels = true_labels[['Original','Duplicate']]

In [4]:
true_labels['Duplicate'].nunique()

500

### Splink Linkage

In [142]:
from recordlinkage.datasets import load_febrl1

febrl1_data = load_febrl1()
febrl1_data = febrl1_data.reset_index()

In [143]:
febrl1_data.columns

Index(['rec_id', 'given_name', 'surname', 'street_number', 'address_1',
       'address_2', 'suburb', 'postcode', 'state', 'date_of_birth',
       'soc_sec_id'],
      dtype='object')

In [144]:
febrl1_data.to_excel('../../Dataset/Input Datasets/Febrl1_Data.xlsx',index=False)

In [147]:
df = pd.read_excel("../../Dataset/Input Datasets/Febrl3_Data.xlsx", dtype={"date_of_birth":str})
df["cluster"] = df["rec_id"].apply(lambda x: "-".join(x.split('-')[:2]))
df.head(2)

          rec_id given_name   surname  ...  date_of_birth soc_sec_id   cluster
0   rec-1496-org   mitchell     green  ...       19560409    1804974  rec-1496
1  rec-552-dup-3     harley  mccarthy  ...       19080419    6089216   rec-552

[2 rows x 12 columns]

In [148]:
df = df[['rec_id', 'given_name',
       'surname', 'street_number', 'address_1', 'address_2', 'suburb',
       'postcode', 'state', 'date_of_birth', 'soc_sec_id', 'cluster']]

df.to_excel(r'../../Dataset/Input Datasets/Febrl3_Data.xlsx',index = False)

In [149]:
len(df)

5000

In [36]:
settings = {
"unique_id_column_name": "rec_id",
"link_type": "dedupe_only",
    "blocking_rules_to_generate_predictions": [
        "l.surname = r.surname",
        "l.postcode = r.postcode"
    ],
    "comparisons": [
        ctl.name_comparison("given_name"),
        ctl.name_comparison("surname"),
        levenshtein_at_thresholds("date_of_birth",[1,2]),
        jaro_winkler_at_thresholds("address_1",[0.9,0.7]),
        jaro_winkler_at_thresholds("address_2",[0.9,0.7]),
        levenshtein_at_thresholds("suburb",2),
        levenshtein_at_thresholds("state",2),
        exact_match("street_number", term_frequency_adjustments = True),
        exact_match("postcode", term_frequency_adjustments = True)
    ],
}

In [37]:
linker = DuckDBLinker(df,settings)
linker.estimate_u_using_random_sampling(max_pairs=1e6)

----- Estimating u probabilities using random sampling -----

Estimated u probabilities using random sampling

Your model is not yet fully trained. Missing estimates for:
    - given_name (no m values are trained).
    - surname (no m values are trained).
    - date_of_birth (no m values are trained).
    - address_1 (no m values are trained).
    - address_2 (no m values are trained).
    - suburb (no m values are trained).
    - state (no m values are trained).
    - street_number (no m values are trained).
    - postcode (no m values are trained).

In [38]:
blocking_rule_for_training = "l.given_name = r.given_name and l.surname = r.surname"
linker.estimate_parameters_using_expectation_maximisation(blocking_rule_for_training)

blocking_rule_for_training = "l.date_of_birth = r.date_of_birth"
linker.estimate_parameters_using_expectation_maximisation(blocking_rule_for_training)

pairwise_predictions = linker.predict()

clusters = linker.cluster_pairwise_predictions_at_threshold(pairwise_predictions, 0.75)
clusters.as_pandas_dataframe()

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l.given_name = r.given_name and l.surname = r.surname

Parameter estimates will be made for the following comparison(s):
    - date_of_birth
    - address_1
    - address_2
    - suburb
    - state
    - street_number
    - postcode

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - given_name
    - surname

Iteration 1: Largest change in params was -0.476 in the m_probability of address_2, level `Exact match`
Iteration 2: Largest change in params was 0.00358 in probability_two_random_records_match
Iteration 3: Largest change in params was 3.02e-05 in probability_two_random_records_match

EM converged after 3 iterations

Your model is not yet fully trained. Missing estimates for:
    - given_name (no m values are trained).
    - surname (no m values are trained).

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l.date_of_birth = r.date_of_birth

Parameter estimates will be made for the following comparison(s):
    - given_name
    - surname
    - address_1
    - address_2
    - suburb
    - state
    - street_number
    - postcode

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - date_of_birth

Iteration 1: Largest change in params was 0.797 in probability_two_random_records_match
Iteration 2: Largest change in params was 0.00683 in probability_two_random_records_match
Iteration 3: Largest change in params was 2.2e-05 in probability_two_random_records_match

EM converged after 3 iterations

Your model is fully trained. All comparisons have at least one estimate for their m and u values
Completed iteration 1, root rows count 2
Completed iteration 2, root rows count 0

,cluster_id,Unnamed: 0.1,Unnamed: 0,rec_id,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id,cluster,tf_street_number,tf_postcode
0,rec-0-org,3419,3419,rec-0-org,jinni,dreyer,11.0,were street,marriott downs,south melbourne,3172,nsw,19420127.0,3787407,rec-0,0.023344,0.0010
1,rec-10-dup-1,4462,4462,rec-10-dup-1,mikhvyla,hannagan,20.0,windradyen street,brentwood vlge,penshurst,2257,vic,19770501.0,1030769,rec-10,0.013670,0.0018
2,rec-10-dup-1,278,278,rec-10-dup-2,mikhayla,hannaan,20.0,NaN,brentwoodvlge,penshurst,2257,vic,19770501.0,1030769,rec-10,0.013670,0.0018
3,rec-10-dup-1,4820,4820,rec-10-org,mikhayla,hannagan,20.0,rupp place,brentwood vlge,penshurst,2257,vic,19770501.0,1030769,rec-10,0.013670,0.0018
4,rec-100-dup-0,3567,3567,rec-100-dup-0,domenique,paterson,15.0,NaN,merewether pufblic school,greensborough,3138,qld,19161017.0,4975843,rec-100,0.020189,0.0012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,rec-1880-dup-0,924,924,rec-1880-dup-2,callum,doody,11.0,emery s treet,texas station,orange,7021,sa,19760824.0,8675169,rec-1880,0.023344,0.0012
4996,rec-526-dup-0,1573,1573,rec-526-dup-2,maya,greqen,20.0,louisa laws on crescent,cargo road,bligh park,2560,wa,19790228.0,5349388,rec-526,0.013670,0.0016
4997,rec-560-dup-0,3038,3038,rec-560-org,david,sokic,11.0,gurubun close,binnalong,dianella,3042,wa,19771128.0,4848529,rec-560,0.023344,0.0012
4998,rec-1294-org,1709,1709,rec-1294-org,kayden,gao,10.0,kater place,table mountain,clifton,4160,sa,19360515.0,2014515,rec-1294,0.022292,0.0020
4999,rec-1251-org,710,710,rec-1251-org,chloe,crossman,73.0,shenton crescent,sec 209 clifton farm,south melbourne,2324,vic,19680424.0,5536009,rec-1251,0.000841,0.0008

In [39]:
import vl_convert as vlc

In [108]:
spec = linker.roc_chart_from_labels_column("cluster").spec
png_data = vlc.vegalite_to_png(vl_spec=spec, scale=2)
with open("../../Results/Febrl/roc_auc_chart.png", "wb") as f:
    f.write(png_data)

spec = linker.precision_recall_chart_from_labels_column("cluster").spec
png_data = vlc.vegalite_to_png(vl_spec=spec, scale=2)
with open("../../Results/Febrl/precision_recall_chart.png", "wb") as f:
    f.write(png_data)

spec = linker.match_weights_chart().spec
png_data = vlc.vegalite_to_png(vl_spec=spec, scale=2)
with open("../../Results/Febrl/match_weight_graph.png", "wb") as f:
    f.write(png_data)

spec = linker.m_u_parameters_chart().spec
png_data = vlc.vegalite_to_png(vl_spec=spec, scale=2)
with open("../../Results/Febrl/m_u_parameters.png", "wb") as f:
    f.write(png_data)

In [57]:
c = linker.profile_columns(['given_name', 'surname'], top_n=10, bottom_n=5).spec
png_data = vlc.vegalite_to_png(vl_spec=c, scale=2)
with open("../../Results/Febrl/match_weight_graph.png", "wb") as f:
    f.write(png_data)
c

{'config': {'view': {'continuousWidth': 400, 'continuousHeight': 300}},
 'vconcat': [{'hconcat': [{'data': {'values': [{'percentile_ex_nulls': 0.9832782745361328,
        'percentile_inc_nulls': 0.9837999939918518,
        'value_count': 81,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 81.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.9690338373184204,
        'percentile_inc_nulls': 0.9700000286102295,
        'value_count': 69,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 69.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.9564409852027893,
        'percentile_inc_nulls': 0.957800030708313,
        'value_count': 61,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 61.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.945293128490448,
        'percentile_inc_nulls': 0.9470000267028809,
        'value_count': 54,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 54.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.9347646832466125,
        'percentile_inc_nulls': 0.9368000030517578,
        'value_count': 51,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 51.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.9246490597724915,
        'percentile_inc_nulls': 0.9269999861717224,
        'value_count': 49,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 49.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.9149463176727295,
        'percentile_inc_nulls': 0.9175999760627747,
        'value_count': 47,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 47.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.9054500460624695,
        'percentile_inc_nulls': 0.9083999991416931,
        'value_count': 46,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 46.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.8961601853370667,
        'percentile_inc_nulls': 0.899399995803833,
        'value_count': 45,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 45.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.8874896764755249,
        'percentile_inc_nulls': 0.8910000324249268,
        'value_count': 42,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 42.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.8633360862731934,
        'percentile_inc_nulls': 0.8675999641418457,
        'value_count': 39,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 117.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.8404211401939392,
        'percentile_inc_nulls': 0.8453999757766724,
        'value_count': 37,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 111.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.833402156829834,
        'percentile_inc_nulls': 0.8385999798774719,
        'value_count': 34,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 34.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.8201899528503418,
        'percentile_inc_nulls': 0.8258000016212463,
        'value_count': 32,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 64.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.807390570640564,
        'percentile_inc_nulls': 0.8134000301361084,
        'value_count': 31,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 62.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.79500412940979,
        'percentile_inc_nulls': 0.8014000058174133,
        'value_count': 30,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 60.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.7890173196792603,
        'percentile_inc_nulls': 0.7955999970436096,
        'value_count': 29,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 29.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.7832369804382324,
        'percentile_inc_nulls': 0.7900000214576721,
        'value_count': 28,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 28.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.7665152549743652,
        'percentile_inc_nulls': 0.7738000154495239,
        'value_count': 27,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 81.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.7611477971076965,
        'percentile_inc_nulls': 0.7685999870300293,
        'value_count': 26,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 26.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.7508257627487183,
        'percentile_inc_nulls': 0.7585999965667725,
        'value_count': 25,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 50.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.73100745677948,
        'percentile_inc_nulls': 0.7394000291824341,
        'value_count': 24,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 96.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.6977704763412476,
        'percentile_inc_nulls': 0.7071999907493591,
        'value_count': 23,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 161.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.6750619411468506,
        'percentile_inc_nulls': 0.6851999759674072,
        'value_count': 22,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 110.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.6490503549575806,
        'percentile_inc_nulls': 0.6599999666213989,
        'value_count': 21,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 126.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.640792727470398,
        'percentile_inc_nulls': 0.6520000100135803,
        'value_count': 20,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 40.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.6290255784988403,
        'percentile_inc_nulls': 0.6405999660491943,
        'value_count': 19,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 57.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.6104459166526794,
        'percentile_inc_nulls': 0.6225999593734741,
        'value_count': 18,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 90.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.6034269332885742,
        'percentile_inc_nulls': 0.6158000230789185,
        'value_count': 17,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 34.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.590214729309082,
        'percentile_inc_nulls': 0.6029999852180481,
        'value_count': 16,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 64.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.5654417872428894,
        'percentile_inc_nulls': 0.5789999961853027,
        'value_count': 15,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 120.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.5394302606582642,
        'percentile_inc_nulls': 0.5537999868392944,
        'value_count': 14,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 126.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.52601158618927,
        'percentile_inc_nulls': 0.5407999753952026,
        'value_count': 13,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 65.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.5185797214508057,
        'percentile_inc_nulls': 0.5335999727249146,
        'value_count': 12,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 36.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.5049545764923096,
        'percentile_inc_nulls': 0.5203999876976013,
        'value_count': 11,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 66.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.47811728715896606,
        'percentile_inc_nulls': 0.4944000244140625,
        'value_count': 10,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 130.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.4465317726135254,
        'percentile_inc_nulls': 0.46380001306533813,
        'value_count': 9,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 153.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.41680431365966797,
        'percentile_inc_nulls': 0.4350000023841858,
        'value_count': 8,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 144.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.37778693437576294,
        'percentile_inc_nulls': 0.39719998836517334,
        'value_count': 7,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 189.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.34310489892959595,
        'percentile_inc_nulls': 0.3636000156402588,
        'value_count': 6,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 168.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.28736579418182373,
        'percentile_inc_nulls': 0.30959999561309814,
        'value_count': 5,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 270.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.24442607164382935,
        'percentile_inc_nulls': 0.2680000066757202,
        'value_count': 4,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 208.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.19673824310302734,
        'percentile_inc_nulls': 0.2218000292778015,
        'value_count': 3,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 231.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.14471513032913208,
        'percentile_inc_nulls': 0.1714000105857849,
        'value_count': 2,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 252.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 0.0,
        'percentile_inc_nulls': 0.031199991703033447,
        'value_count': 1,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 701.0,
        'distinct_value_count': 1213},
       {'percentile_ex_nulls': 1.0,
        'percentile_inc_nulls': 1.0,
        'value_count': 81,
        'group_name': 'given_name',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'sum_tokens_in_value_count_group': 81.0,
        'distinct_value_count': 1213}]},
     'mark': {'type': 'line', 'interpolate': 'step-after'},
     'encoding': {'x': {'type': 'quantitative',
       'field': 'percentile_ex_nulls',
       'sort': 'descending',
       'title': 'Percentile'},
      'y': {'type': 'quantitative',
       'field': 'value_count',
       'title': 'Count of values'},
      'tooltip': [{'field': 'value_count', 'type': 'quantitative'},
       {'field': 'percentile_ex_nulls', 'type': 'quantitative'},
       {'field': 'percentile_inc_nulls', 'type': 'quantitative'},
       {'field': 'total_non_null_rows', 'type': 'quantitative'},
       {'field': 'total_rows_inc_nulls', 'type': 'quantitative'}]},
     'title': {'text': 'Distribution of counts of values in column given_name',
      'subtitle': 'In this col, 156 values (3.1%) are null and there are 1213 distinct values'}},
    {'data': {'values': [{'value_count': 81,
        'group_name': 'given_name',
        'value': 'joshua',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 69,
        'group_name': 'given_name',
        'value': 'emiily',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 61,
        'group_name': 'given_name',
        'value': 'jack',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 54,
        'group_name': 'given_name',
        'value': 'benjamin',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 51,
        'group_name': 'given_name',
        'value': 'isabella',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 49,
        'group_name': 'given_name',
        'value': 'samuel',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 47,
        'group_name': 'given_name',
        'value': 'thomas',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 46,
        'group_name': 'given_name',
        'value': 'sophie',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 45,
        'group_name': 'given_name',
        'value': 'james',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 42,
        'group_name': 'given_name',
        'value': 'william',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213}]},
     'mark': 'bar',
     'encoding': {'x': {'type': 'nominal',
       'field': 'value',
       'sort': '-y',
       'title': None},
      'y': {'type': 'quantitative',
       'field': 'value_count',
       'title': 'Value count'},
      'tooltip': [{'field': 'value', 'type': 'nominal'},
       {'field': 'value_count', 'type': 'quantitative'},
       {'field': 'total_non_null_rows', 'type': 'quantitative'},
       {'field': 'total_rows_inc_nulls', 'type': 'quantitative'}]},
     'title': 'Top 10 values by value count'},
    {'data': {'values': [{'value_count': 1,
        'group_name': 'given_name',
        'value': 'braecon',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 1,
        'group_name': 'given_name',
        'value': 'lary',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 1,
        'group_name': 'given_name',
        'value': 'katel byn',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 1,
        'group_name': 'given_name',
        'value': 'shakiroh',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213},
       {'value_count': 1,
        'group_name': 'given_name',
        'value': 'nathab',
        'total_non_null_rows': 4844,
        'total_rows_inc_nulls': 5000,
        'distinct_value_count': 1213}]},
     'mark': 'bar',
     'encoding': {'x': {'type': 'nominal',
       'field': 'value',
       'sort': '-y',
       'title': None},
      'y': {'type': 'quantitative',
       'field': 'value_count',
       'title': 'Value count',
       'scale': {'domain': [0, 81]}},
      'tooltip': [{'field': 'value', 'type': 'nominal'},

In [22]:
from recordlinkage.preprocessing import clean,value_occurence
df['given_name'] = clean(df['given_name'])

In [23]:
value_occurence(df['given_name'])

0       24
1        9
2       11
3       21
4        2
        ..
4995    61
4996    42
4997     4
4998     5
4999    23
Name: given_name, Length: 5000, dtype: int64

In [18]:
df = pd.read_excel("../../Dataset/Electronic_Health_Record.xlsx")

In [19]:
df['unique_id'] = [i for i in range(1,len(df)+1)]

In [20]:
df

,given_name,surname,birthdate,address,county,city,state,zip,latitude,longitude,unique_id
0,Jacinto644,Kris249,2017-08-24,888 Hickle Ferry Suite 38,Hampden County,Springfield,Massachusetts,1106.0,42.151961,-72.598959,1
1,Alva958,Krajcik437,2016-08-01,1048 Skiles Trailer,Norfolk County,Walpole,Massachusetts,2081.0,42.177370,-71.281353,2
2,Jayson808,Fadel536,1992-06-30,1056 Harris Lane Suite 70,Hampden County,Chicopee,Massachusetts,1020.0,42.181642,-72.608842,3
3,Jimmie93,Harris789,2004-01-09,201 Mitchell Lodge Unit 67,Plymouth County,Pembroke,Massachusetts,NaN,42.075292,-70.757035,4
4,Gregorio366,Auer97,1996-11-15,1050 Lindgren Extension Apt 38,Suffolk County,Boston,Massachusetts,2135.0,42.352434,-71.028610,5
...,...,...,...,...,...,...,...,...,...,...,...
12347,Althea11,O'Hara248,1962-08-17,682 Koss Trafficway Apt 65,Norfolk County,Wellesley,Massachusetts,2457.0,42.294175,-71.259364,12348
12348,Tarah156,Shields502,1918-10-20,308 Huels Grove Apt 18,Middlesex County,Waltham,Massachusetts,2453.0,42.372663,-71.209053,12349
12349,Penny812,Pacocha935,1918-10-20,349 Breitenberg Walk Suite 26,Middlesex County,Waltham,Massachusetts,2452.0,42.396186,-71.217928,12350
12350,Cherlyn665,Quitzon246,1918-10-20,237 Miller Avenue,Middlesex County,Waltham,Massachusetts,2452.0,42.366768,-71.196715,12351
12351,Emory494,Turcotte120,1941-02-11,595 Zulauf Parade Suite 56,Barnstable County,Bourne,Massachusetts,2532.0,41.721661,-70.587214,12352

In [21]:
settings = {
"link_type": "dedupe_only",
    "blocking_rules_to_generate_predictions": [

        "l.given_name = r.given_name",
        "l.surname = r.surname"
        
    ],
    "comparisons": [

            ctl.name_comparison("given_name"),
            ctl.name_comparison("surname"),
            levenshtein_at_thresholds("birthdate",[1,2]),
            jaro_winkler_at_thresholds("address",[0.7,0.5]),
            jaro_winkler_at_thresholds("county",[0.7,0.5]),
            levenshtein_at_thresholds("city",2),
            levenshtein_at_thresholds("state",2),
            exact_match("zip", term_frequency_adjustments = True)

    ],
}

linker = DuckDBLinker(df,settings)
linker.estimate_u_using_random_sampling(max_pairs=1e6)

blocking_rule_for_training = "l.given_name = r.given_name and l.surname = r.surname"
linker.estimate_parameters_using_expectation_maximisation(blocking_rule_for_training)

blocking_rule_for_training = "l.zip = r.zip"
linker.estimate_parameters_using_expectation_maximisation(blocking_rule_for_training)

pairwise_predictions = linker.predict()

clusters = linker.cluster_pairwise_predictions_at_threshold(pairwise_predictions, 0.75)

----- Estimating u probabilities using random sampling -----
u probability not trained for given_name - Jaro_winkler_similarity >= 0.95 (comparison vector value: 2). This usually means the comparison level was never observed in the training data.
u probability not trained for surname - Jaro_winkler_similarity >= 0.95 (comparison vector value: 2). This usually means the comparison level was never observed in the training data.
u probability not trained for address - Exact match (comparison vector value: 3). This usually means the comparison level was never observed in the training data.
u probability not trained for county - All other comparisons (comparison vector value: 0). This usually means the comparison level was never observed in the training data.
u probability not trained for state - Levenshtein <= 2 (comparison vector value: 1). This usually means the comparison level was never observed in the training data.
u probability not trained for state - All other comparisons (comparison vector value: 0). This usually means the comparison level was never observed in the training data.

Estimated u probabilities using random sampling

Your model is not yet fully trained. Missing estimates for:
    - given_name (some u values are not trained, no m values are trained).
    - surname (some u values are not trained, no m values are trained).
    - birthdate (no m values are trained).
    - address (some u values are not trained, no m values are trained).
    - county (some u values are not trained, no m values are trained).
    - city (no m values are trained).
    - state (some u values are not trained, no m values are trained).
    - zip (no m values are trained).

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l.given_name = r.given_name and l.surname = r.surname

Parameter estimates will be made for the following comparison(s):
    - birthdate
    - address
    - county
    - city
    - state
    - zip

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - given_name
    - surname


WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 1: Largest change in params was 0.983 in the m_probability of birthdate, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 2: Largest change in params was -0.0309 in the m_probability of address, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 3: Largest change in params was -0.0968 in the m_probability of city, level `Exact match`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 4: Largest change in params was -0.147 in the m_probability of city, level `Exact match`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 5: Largest change in params was 0.165 in the m_probability of city, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 6: Largest change in params was 0.134 in the m_probability of city, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 7: Largest change in params was -0.0838 in the m_probability of city, level `Exact match`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 8: Largest change in params was -0.044 in the m_probability of city, level `Exact match`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 9: Largest change in params was 0.0211 in the m_probability of city, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 10: Largest change in params was -0.00962 in the m_probability of city, level `Exact match`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 11: Largest change in params was 0.0043 in the m_probability of city, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 12: Largest change in params was 0.0019 in the m_probability of city, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 13: Largest change in params was -0.00084 in the m_probability of city, level `Exact match`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 14: Largest change in params was -0.00037 in the m_probability of city, level `Exact match`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 15: Largest change in params was 0.000163 in the m_probability of city, level `All other comparisons`

WARNING:
Level Exact match on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 1 on comparison birthdate not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison address not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.7 on comparison address not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison county not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison city not observed in dataset, unable to train m value

WARNING:
Level Levenshtein <= 2 on comparison state not observed in dataset, unable to train m value

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

WARNING:
Level Exact match on comparison zip not observed in dataset, unable to train m value
Iteration 16: Largest change in params was 7.17e-05 in the m_probability of city, level `All other comparisons`

EM converged after 16 iterations
m probability not trained for birthdate - Exact match (comparison vector value: 3). This usually means the comparison level was never observed in the training data.
m probability not trained for birthdate - Levenshtein <= 1 (comparison vector value: 2). This usually means the comparison level was never observed in the training data.
m probability not trained for address - Exact match (comparison vector value: 3). This usually means the comparison level was never observed in the training data.
m probability not trained for address - Jaro_winkler_similarity >= 0.7 (comparison vector value: 2). This usually means the comparison level was never observed in the training data.
m probability not trained for county - All other comparisons (comparison vector value: 0). This usually means the comparison level was never observed in the training data.
m probability not trained for city - Levenshtein <= 2 (comparison vector value: 1). This usually means the comparison level was never observed in the training data.

In [9]:
dataframe = clusters.as_pandas_dataframe()
dataframe

,cluster_id,Unnamed: 0,given_name,surname,birthdate,address,county,city,state,zip,latitude,longitude,unique_id,tf_zip
0,1,0,Jacinto644,Kris249,2017-08-24,888 Hickle Ferry Suite 38,Hampden County,Springfield,Massachusetts,1106.0,42.151961,-72.598959,1,0.004478
1,19,18,Cythia210,Reichel38,1999-03-03,211 Effertz Quay,Essex County,Peabody,Massachusetts,1960.0,42.559290,-70.931697,19,0.003881
2,53,52,Chung121,Heller342,2015-07-18,618 Harber Annex,Worcester County,Southborough,Massachusetts,NaN,42.264526,-71.536202,53,NaN
3,54,53,Maisha241,Fisher429,1955-05-03,873 Hodkiewicz Dam Unit 1,Plymouth County,Bridgewater,Massachusetts,NaN,41.993499,-70.972448,54,NaN
4,65,64,Caroll955,Jacobi462,1990-07-13,234 Schultz Gate,Worcester County,Webster,Massachusetts,1570.0,42.002958,-71.844811,65,0.002687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12347,4004,4003,Bruno518,Dach178,1936-01-04,286 Ryan Knoll Suite 97,Essex County,Peabody,Massachusetts,NaN,42.562024,-71.020420,4004,NaN
12348,4066,4065,Franklyn361,Langosh790,1946-06-08,502 Hoeger Overpass,Worcester County,Fitchburg,Massachusetts,1420.0,42.565027,-71.788796,4066,0.009104
12349,9100,9099,Thad495,Leannon79,1940-02-25,634 Shields Promenade Suite 47,Norfolk County,Bellingham,Massachusetts,2019.0,42.057540,-71.472016,9100,0.003433
12350,2757,2756,Jacinto644,O'Conner199,1916-05-21,846 Parisian Landing Unit 46,Worcester County,Worcester,Massachusetts,1609.0,42.244305,-71.835520,2757,0.004328
12351,1611,1610,Napoleon578,Feeney44,1979-12-27,889 Leannon Union,Middlesex County,Acton,Massachusetts,NaN,42.434618,-71.400598,1611,NaN

In [47]:
dataframe.to_excel('result_patients.xlsx')

In [48]:
Clusters = dataframe['cluster_id']

In [49]:
Clusters = list(Clusters)

In [50]:
from collections import Counter
list1= Counter(Clusters)

In [60]:
from geopy.geocoders import Nominatim
 
# calling the Nominatim tool
loc = Nominatim(user_agent = 'myGeocode')
 
# entering the location name
getLoc = loc.geocode("Gosainganj Lucknow")

# # printing address
print(getLoc.address)
 
# # printing latitude and longitude
print("Latitude = ", getLoc.latitude, "\n")
print("Longitude = ", getLoc.longitude)

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Gosainganj+Lucknow&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x0000021706A3C700>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))

In [45]:
import pandas as pd

In [46]:
dataframe = pd.read_excel('..\..\Dataset\Input Datasets\EHR_Deduplication.xlsx')

In [47]:
dataframe.columns

Index(['Unnamed: 0', 'given_name', 'surname', 'birthdate', 'address', 'county',
       'city', 'state', 'zip', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
import geopandas 
from shapely.geometry import Point

latitude = dataframe['latitude'].to_list()
longitude = dataframe['longitude'].to_list()
coordinates = pd.DataFrame(list(zip(latitude,longitude)))

coordinates = coordinates.apply(lambda x: Point(x))

df = geopandas.tools.reverse_geocode(coordinates)

In [ ]:
c = conn.cursor()
c.execute(""" CREATE TABLE employees (first text, last text, pay integer)""")
conn.commit()

c.execute("Insert into employees('Mary','Schafer', 70000)")

In [28]:
c.execute("insert into employees values ('May','Schafer', 7000)")

In [ ]:
c.execute("Select * from employees WHERE last = 'Schafer'")
print(c.fetchall())
conn.commit()

In [48]:
dataframe = dataframe[:100]

In [49]:
from geopy.point import Point
import numpy as np
from geopy.geocoders import Nominatim

In [50]:
locator = Nominatim(user_agent='myGeocoder')

def reverse_geocoding(lat,lon):

    location = locator.reverse(Point(lat, lon))
    return location.raw['display_name']


dataframe['address_complete'] = np.vectorize(reverse_geocoding)(dataframe['latitude'], dataframe['longitude'])

In [25]:
dataframe['address_complete']

0     23;27, Maplecrest Circle, Sandy Hill, Chicopee...
1     94, Elm Street, Medfield, Norfolk County, Mass...
2     Solenis Chemical, Grattan Street, North Chicop...
3     Camp Wing, Union Street, Ashdod, Duxbury, Plym...
4     Ted Williams Tunnel, Seaport, South Boston, Bo...
5     Vermont Route 112, Halifax, Windham County, Ve...
6     27-29, West Sorrento Street, Barry's Corner, A...
7     3, Greenacre Road, South Hadley, Hampshire Cou...
8     Walpole Sportsman Association, Deerfield Drive...
9     76, Stearns Square, Metro Center, Springfield,...
10    63, Shawmut Avenue, Middlesex Village, Lowell,...
11    86, Albro Avenue, Dartmouth, Bristol County, M...
12    544, Quinobequin Road, Waban, Newton, Middlese...
13    3, Haslet Street, Roslindale, Boston, Suffolk ...
14    56, Wyllis Avenue, West Everett, Everett, Midd...
15    6, Gates Street, Framingham, Middlesex County,...
16    9, Turner Street, Houghs Neck, Quincy, Norfolk...
17    3, Twilight Drive, Foxborough, Norfolk County,...
18    Stromin' Into Fitness, 101R, High Street, Danv...
19    Rockdale, New Bedford, Bristol County, Massach...
20    Rumney Marsh Restoration, Saugus, Essex County...
21    21, Storey Drive, Lincoln, Middlesex County, M...
22    46, Indian Head Road, Framingham, Middlesex Co...
23    18, Esquire Drive, Peabody, Essex County, Mass...
24    280, Sportsmen's Trail, Whitman, Plymouth Coun...
25    551, Mount Blue Street, Norwell, Plymouth Coun...
26    Pine Banks Fields, 1087, Main Street, Windsor ...
27    41, Parkhurst Road, Chelmsford, Middlesex Coun...
28    17, Churchill Road, Winchester Highlands, Winc...
29    106, Elm Street, North Reading, Middlesex Coun...
30    313, New West Townsend Road, Lunenburg, Worces...
31    Boston, Suffolk County, Massachusetts, United ...
32    Mcclelland Farm Road, East Deerfield, Deerfiel...
33    Landlocked Forest, Yellow Loop, Burlington, Mi...
34    1, Old Sandwich Road, Plymouth, Plymouth Count...
35    Cross Road, Dartmouth, Bristol County, Massach...
36    Lowell Dracut Tyngsborough State Forest, Gumpu...
37    66, Hawkes Street, Saugus, Essex County, Massa...
38    3, Raymond Road, South Sudbury, Sudbury, Middl...
39    41, Shearer Road, Colrain, Franklin County, Ma...
40    Water Supply Land, Station Road, Amherst, Hamp...
41    Snow Hill Reservation, Hales Hollow Road, Dove...
42    6, Innis Street, Lynnhurst, Saugus, Essex Coun...
43    Plum Island Airport, 24, Plum Island Turnpike,...
44    242, East Border Road, Medford, Middlesex Coun...
45    Nixon Trail, Sudbury, Middlesex County, Massac...
46    12, Cranberry Lane, Hingham, Plymouth County, ...
47    Twin Pond Trail, Rockland, Plymouth County, Ma...
48    18, Raymond Street, Lower Allston, Allston, Bo...
49    78, Country Way, Taunton, Bristol County, Mass...
Name: address_complete, dtype: object

In [52]:
locator = Nominatim(user_agent='myGeocoder')
latitude = dataframe['latitude'].to_list()
longitude = dataframe['longitude'].to_list()

coordinates = list(zip(latitude,longitude))
df = pd.DataFrame()
for i in range(len(coordinates)):

    location = locator.reverse(coordinates[i])
    if 'state' in location.raw['address']:
        dataframe['state'][i] = location.raw['address']['state'] 

    if 'postcode' in location.raw['address']:
        dataframe['zip'][i] = location.raw['address']['postcode']
    
    if 'county' in location.raw['address']:
        dataframe['county'][i] = location.raw['address']['county']
    
    if 'city' in location.raw['address']:
        dataframe['city'][i] = location.raw['address']['city']

C:\Users\GauravS15\AppData\Local\Temp\ipykernel_19684\24518051.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['state'][i] = location.raw['address']['state']
C:\Users\GauravS15\AppData\Local\Temp\ipykernel_19684\24518051.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['county'][i] = location.raw['address']['county']
C:\Users\GauravS15\AppData\Local\Temp\ipykernel_19684\24518051.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['city'][i] = location.raw['address']['city']

In [13]:
import pandas as pd

ehr_df= pd.read_csv(r'C:\Users\GauravS15\Documents\Record Linkage 2.0\Dataset\patients.csv')

In [14]:
columns_ = list(ehr_df.columns)
for col in range(0,len(columns_)):
    columns_[col] = columns_[col].lower()

ehr_df.columns = columns_

In [15]:
ehr_df = ehr_df[['first','last','birthdate','address','county','city','state','zip','lat','lon']]
columns_ehr = ['given_name','surname','birthdate','address','county','city','state','zip','latitude','longitude']
ehr_df.columns = columns_ehr

In [16]:
ehr_df.to_excel('../../Dataset/Electronic_Health_Record.xlsx',index=False)

In [17]:
ehr_df

,given_name,surname,birthdate,address,county,city,state,zip,latitude,longitude
0,Jacinto644,Kris249,2017-08-24,888 Hickle Ferry Suite 38,Hampden County,Springfield,Massachusetts,1106.0,42.151961,-72.598959
1,Alva958,Krajcik437,2016-08-01,1048 Skiles Trailer,Norfolk County,Walpole,Massachusetts,2081.0,42.177370,-71.281353
2,Jayson808,Fadel536,1992-06-30,1056 Harris Lane Suite 70,Hampden County,Chicopee,Massachusetts,1020.0,42.181642,-72.608842
3,Jimmie93,Harris789,2004-01-09,201 Mitchell Lodge Unit 67,Plymouth County,Pembroke,Massachusetts,NaN,42.075292,-70.757035
4,Gregorio366,Auer97,1996-11-15,1050 Lindgren Extension Apt 38,Suffolk County,Boston,Massachusetts,2135.0,42.352434,-71.028610
...,...,...,...,...,...,...,...,...,...,...
12347,Althea11,O'Hara248,1962-08-17,682 Koss Trafficway Apt 65,Norfolk County,Wellesley,Massachusetts,2457.0,42.294175,-71.259364
12348,Tarah156,Shields502,1918-10-20,308 Huels Grove Apt 18,Middlesex County,Waltham,Massachusetts,2453.0,42.372663,-71.209053
12349,Penny812,Pacocha935,1918-10-20,349 Breitenberg Walk Suite 26,Middlesex County,Waltham,Massachusetts,2452.0,42.396186,-71.217928
12350,Cherlyn665,Quitzon246,1918-10-20,237 Miller Avenue,Middlesex County,Waltham,Massachusetts,2452.0,42.366768,-71.196715
12351,Emory494,Turcotte120,1941-02-11,595 Zulauf Parade Suite 56,Barnstable County,Bourne,Massachusetts,2532.0,41.721661,-70.587214

### Splink Data Linkage

In [4]:
from recordlinkage import datasets

dfA,dfB = datasets.load_febrl4()
dfA = dfA.reset_index()
dfB = dfB.reset_index()
dfA["cluster"] = dfA["rec_id"].apply(lambda x: "-".join(x.split('-')[:2]))
dfB["cluster"] = dfB["rec_id"].apply(lambda x: "-".join(x.split('-')[:2]))

In [3]:
dfA.to_excel('Febrl_Data4A.xlsx', index=False)
dfB.to_excel('Febrl_Data4B.xlsx', index=False)

In [24]:
dfA['unique_id'] = [x for x in range(1,len(dfA)+1)]
dfB['unique_id'] = [x for x in range(1,len(dfB)+1)]

In [25]:
dfs = [dfA,dfB]

In [18]:
from splink.duckdb.duckdb_linker import DuckDBLinker

basic_settings = {
    "unique_id_column_name": "rec_id",
    "link_type": "link_only",
    # NB as we are linking one-one, we know the probability that a random pair will be a match
    # hence we could set:
    # "probability_two_random_records_match": 1/5000,
    # however we will not specify this here, as we will use this as a check that
    # our estimation procedure returns something sensible
}

linker = DuckDBLinker(dfs, basic_settings)

In [ ]:
cols_to_profile = list(dfs[0].columns)
cols_to_profile = [col for col in cols_to_profile if col not in ("rec_id", "cluster")]
linker.profile_columns(cols_to_profile)

In [11]:
blocking_rules = [
    "l.given_name = r.given_name AND l.surname = r.surname",
    "l.date_of_birth = r.date_of_birth",
    "l.soc_sec_id = r.soc_sec_id",
    "l.state = r.state AND l.address_1 = r.address_1",
    "l.street_number = r.street_number AND l.address_1 = r.address_1",
    "l.postcode = r.postcode",
]
linker.cumulative_num_comparisons_from_blocking_rules_chart(blocking_rules)

In [26]:
import splink.duckdb.duckdb_comparison_level_library as cll
import splink.duckdb.duckdb_comparison_library as cl
import splink.duckdb.duckdb_comparison_template_library as ctl

# the simple model only considers a few columns, and only two comparison levels for each
simple_model_settings = {
    **basic_settings,
    "blocking_rules_to_generate_predictions": blocking_rules,
    "comparisons": [
        cl.exact_match("given_name", term_frequency_adjustments=True),
        cl.exact_match("surname", term_frequency_adjustments=True),
        cl.exact_match("street_number", term_frequency_adjustments=True),
    ],
    "retain_intermediate_calculation_columns": True,
}
# the detailed model considers more columns, using the information we saw in the exploratory phase
# we also include further comparison levels to account for typos and other differences
detailed_model_settings = {
    **basic_settings,
    "blocking_rules_to_generate_predictions": blocking_rules,
    "comparisons": [
        ctl.name_comparison("given_name", term_frequency_adjustments_name=True),
        ctl.name_comparison("surname", term_frequency_adjustments_name=True),
        cl.levenshtein_at_thresholds("date_of_birth", [1, 2]),
        cl.levenshtein_at_thresholds("soc_sec_id", [1, 2]),
        cl.exact_match("street_number", term_frequency_adjustments=True),
        cl.levenshtein_at_thresholds("postcode", [1, 2], term_frequency_adjustments=True),
        # we don't consider further location columns as they will be strongly correlated with postcode
    ],
    "retain_intermediate_calculation_columns": True,
}


linker_simple = DuckDBLinker(dfs, simple_model_settings)
linker_detailed = DuckDBLinker(dfs, detailed_model_settings)

In [27]:
deterministic_rules = [
    "l.soc_sec_id = r.soc_sec_id",
    "l.given_name = r.given_name and l.surname = r.surname and l.date_of_birth = r.date_of_birth",
]

linker_detailed.estimate_probability_two_random_records_match(deterministic_rules, recall=0.8)

Probability two random records match is estimated to be  0.000238.
This means that amongst all possible pairwise record comparisons, one in 4,195.51 are expected to match.  With 25,000,000 total possible comparisons, we expect a total of around 5,958.75 matching pairs

In [28]:
linker_detailed.estimate_u_using_random_sampling(max_pairs=1e6)

----- Estimating u probabilities using random sampling -----

Estimated u probabilities using random sampling

Your model is not yet fully trained. Missing estimates for:
    - given_name (no m values are trained).
    - surname (no m values are trained).
    - date_of_birth (no m values are trained).
    - soc_sec_id (no m values are trained).
    - street_number (no m values are trained).
    - postcode (no m values are trained).

In [29]:
linker.estimate_parameters_using_expectation_maximisation("l.date_of_birth = r.date_of_birth")

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l.date_of_birth = r.date_of_birth

Parameter estimates will be made for the following comparison(s):

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:

SplinkException: Error executing the following sql for table `__splink__m_u_counts`(__splink__m_u_counts_0aaeffeca):

        CREATE TABLE __splink__m_u_counts_0aaeffeca
        AS
        (WITH __splink__df_comparison_vectors as (select * from __splink__df_comparison_vectors_9a9886873),
__splink__df_match_weight_parts as (
    select "source_dataset_l","source_dataset_r","rec_id_l","rec_id_r"
    from __splink__df_comparison_vectors
    ),
__splink__df_predict as (
    select
    log2(CASE WHEN  THEN cast('infinity' as double) ELSE cast(0.00010001000100010001 as double) *  END) as match_weight,
    CASE WHEN  THEN 1.0 ELSE ((CASE WHEN  THEN cast('infinity' as double) ELSE cast(0.00010001000100010001 as double) *  END)/(1+(CASE WHEN  THEN cast('infinity' as double) ELSE cast(0.00010001000100010001 as double) *  END))) END as match_probability,
    "source_dataset_l","source_dataset_r","rec_id_l","rec_id_r"
    from __splink__df_match_weight_parts

    )
    select 0 as comparison_vector_value,
           avg(match_probability) as m_count,
           avg(1-match_probability) as u_count,
           '_probability_two_random_records_match' as output_column_name
    from __splink__df_predict
    )

In [17]:
pairwise_predictions = linker.predict()
clusters = linker.cluster_pairwise_predictions_at_threshold(pairwise_predictions, 0.70)
resulted_dataframe = clusters.as_pandas_dataframe()

SplinkException: Error executing the following sql for table `__splink__df_predict`(__splink__df_predict_6b3b73946):

        CREATE TABLE __splink__df_predict_6b3b73946
        AS
        (WITH __splink__df_concat_with_tf as (select * from __splink__df_concat_with_tf_335fab517),
__splink__df_concat_with_tf_left as (
        select * from __splink__df_concat_with_tf
        where source_dataset = '__splink__input_table_0'
        ),
__splink_df_concat_with_tf_right as (
        select * from __splink__df_concat_with_tf
        where source_dataset = '__splink__input_table_1'
        ),
__splink__df_blocked as (
            select
            "l"."source_dataset" as "source_dataset_l", "r"."source_dataset" as "source_dataset_r", "l"."rec_id" as "rec_id_l", "r"."rec_id" as "rec_id_r"
            , '0' as match_key
            from __splink__df_concat_with_tf_left as l
            inner join __splink_df_concat_with_tf_right as r
            on
            1=1

             where 1=1
            ),
__splink__df_comparison_vectors as (
    select "source_dataset_l","source_dataset_r","rec_id_l","rec_id_r"
    from __splink__df_blocked
    ),
__splink__df_match_weight_parts as (
    select "source_dataset_l","source_dataset_r","rec_id_l","rec_id_r"
    from __splink__df_comparison_vectors
    )
    select
    log2(CASE WHEN  THEN cast('infinity' as double) ELSE cast(0.00010001000100010001 as double) *  END) as match_weight,
    CASE WHEN  THEN 1.0 ELSE ((CASE WHEN  THEN cast('infinity' as double) ELSE cast(0.00010001000100010001 as double) *  END)/(1+(CASE WHEN  THEN cast('infinity' as double) ELSE cast(0.00010001000100010001 as double) *  END))) END as match_probability,
    "source_dataset_l","source_dataset_r","rec_id_l","rec_id_r"
    from __splink__df_match_weight_parts

    )

In [199]:
import pandas as pd

In [200]:
df1 = pd.read_excel(r'../../Dataset/Input Datasets/EHR_Linkage(1).xlsx')
# df2 = pd.read_excel(r'../../Dataset/Input Datasets/EHR_Linkage(2).xlsx')

In [201]:
df1.columns
df1 = df1[['given_name', 'surname', 'birthdate',
       'address', 'county', 'city', 'state', 'zip', 'latitude', 'longitude']]

In [202]:
df2 = df1[:6000]
df1 = df1[:6000]

In [203]:
df1.to_excel(r'../../Dataset/Input Datasets/EHR_Linkage(1).xlsx',index = False)
df2.to_excel(r'../../Dataset/Input Datasets/EHR_Linkage(2).xlsx',index = False)

In [204]:
df2 = df2.append(df1[:6000])

C:\Users\GauravS15\AppData\Local\Temp\ipykernel_18120\2009753982.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df1[:6000])

In [205]:
len(df2)

12000

In [206]:
df2.to_excel(r'../../Dataset/Input Datasets/EHR_Deduplication.xlsx',index=False)

In [64]:
df['state'][1] = 'parag'
df['state'][1]

C:\Users\GauravS15\AppData\Local\Temp\ipykernel_25268\2091786775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'][1] = 'parag'

'parag'

In [66]:
df = pd.read_excel('../../Dataset\Input Datasets\EHR_Deduplication.xlsx')

<>:1: DeprecationWarning: invalid escape sequence \I
<>:1: DeprecationWarning: invalid escape sequence \I
C:\Users\GauravS15\AppData\Local\Temp\ipykernel_25268\444884831.py:1: DeprecationWarning: invalid escape sequence \I
  df = pd.read_excel('../../Dataset\Input Datasets\EHR_Deduplication.xlsx')

In [75]:
dataframe_columns = ['given_name', 'surname', 'birthdate', 'address', 'county', 'city', 'state', 'zip']
sample_dataframe = df[['given_name', 'surname', 'birthdate', 'address', 'county', 'city', 'state', 'zip']]
spec_missing = linker.missingness_chart().spec
spec_columns = linker.profile_columns(['given_name', 'surname', 'birthdate', 'address', 'county', 'city', 'state', 'zip']).spec

SplinkException: Error executing the following sql for table `__splink__df_all_column_value_frequencies`(__splink__df_all_column_value_frequencies_3a851632c):

        CREATE TABLE __splink__df_all_column_value_frequencies_3a851632c
        AS
        (WITH __splink__df_concat as (select * from __splink__df_concat_with_tf_c53fb6107)
        select * from
        (select
            count(*) as value_count,
            'given_name' as group_name,
            cast(given_name as varchar) as value,
            (select count(given_name) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct given_name) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where given_name is not null
        group by given_name
        order by count(*) desc)
         union all
        select * from
        (select
            count(*) as value_count,
            'surname' as group_name,
            cast(surname as varchar) as value,
            (select count(surname) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct surname) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where surname is not null
        group by surname
        order by count(*) desc)
         union all
        select * from
        (select
            count(*) as value_count,
            'birthdate' as group_name,
            cast(birthdate as varchar) as value,
            (select count(birthdate) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct birthdate) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where birthdate is not null
        group by birthdate
        order by count(*) desc)
         union all
        select * from
        (select
            count(*) as value_count,
            'address' as group_name,
            cast(address as varchar) as value,
            (select count(address) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct address) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where address is not null
        group by address
        order by count(*) desc)
         union all
        select * from
        (select
            count(*) as value_count,
            'county' as group_name,
            cast(county as varchar) as value,
            (select count(county) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct county) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where county is not null
        group by county
        order by count(*) desc)
         union all
        select * from
        (select
            count(*) as value_count,
            'city' as group_name,
            cast(city as varchar) as value,
            (select count(city) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct city) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where city is not null
        group by city
        order by count(*) desc)
         union all
        select * from
        (select
            count(*) as value_count,
            'state' as group_name,
            cast(state as varchar) as value,
            (select count(state) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct state) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where state is not null
        group by state
        order by count(*) desc)
         union all
        select * from
        (select
            count(*) as value_count,
            'zip' as group_name,
            cast(zip as varchar) as value,
            (select count(zip) from __splink__df_concat) as total_non_null_rows,
            (select count(*) from __splink__df_concat) as total_rows_inc_nulls,
            (select count(distinct zip) from __splink__df_concat)
                as distinct_value_count
        from __splink__df_concat
        where zip is not null
        group by zip
        order by count(*) desc)
        )

### Database Creation

#### Deduplicate Table Insertion

In [279]:
import sqlite3
conn = sqlite3.connect('deduplicate.db')
c = conn.cursor()

In [288]:
import pandas as pd

dataframe_ehr = pd.read_excel('..\..\Dataset\Input Datasets\Febrl3_Data.xlsx')

In [289]:
print(dataframe_ehr.columns)

Index(['rec_id', 'given_name', 'surname', 'street_number', 'address_1',
       'address_2', 'suburb', 'postcode', 'state', 'date_of_birth',
       'soc_sec_id', 'cluster'],
      dtype='object')

In [22]:
dataframe_ehr = dataframe_ehr.drop(['Unnamed: 0'],axis=1)

In [290]:
query = f"Create table if not Exists {'Febrl3_Data'} ('rec_id' text, 'given_name' text, 'surname' text, 'street_number' integer, 'address_1' text, 'address_2' text, 'suburb' text, 'postcode' real, 'state' text, 'date_of_birth' real, 'soc_sec_id' real, 'cluster' integer)"
c.execute(query)
dataframe_ehr.to_sql('Febrl3_Data',conn,if_exists = 'replace',index = False)
conn.commit()

In [25]:
query = f"Create table if not Exists {'EHR_Deduplication'} ('given_name' text, 'surname' text, 'birthdate' real, 'address' text, 'county' text, 'city' text, 'state' text, 'zip' real, 'latitude' real, 'longitude' real)"
c.execute(query)
dataframe_ehr.to_sql('EHR_Deduplication',conn,if_exists = 'replace',index = False)
conn.commit()

In [83]:
# c.execute("Drop table Febrl_1")

In [291]:
r_df = pd.read_sql( "select * from Febrl3_Data", conn)
print(r_df.columns)

Index(['rec_id', 'given_name', 'surname', 'street_number', 'address_1',
       'address_2', 'suburb', 'postcode', 'state', 'date_of_birth',
       'soc_sec_id', 'cluster'],
      dtype='object')

#### Data Linkage Table Insertion

In [269]:
import sqlite3
conn = sqlite3.connect('data_linkage.db')
c = conn.cursor()

In [49]:
import pandas as pd

dataframe_ehr = pd.read_excel('..\..\Dataset\Input Datasets\Febrl_Data4B.xlsx')

In [50]:
print(dataframe_ehr.columns)

Index(['rec_id', 'given_name', 'surname', 'street_number', 'address_1',
       'address_2', 'suburb', 'postcode', 'state', 'date_of_birth',
       'soc_sec_id', 'cluster'],
      dtype='object')

In [41]:
dataframe_ehr = dataframe_ehr.drop(['Unnamed: 0'],axis=1)

In [51]:
query = f"Create table if not Exists {'Febrl_Data4B'} ('rec_id' text, 'given_name' text, 'surname' text, 'street_number' integer, 'address_1' text, 'address_2' text, 'suburb' text, 'postcode' real, 'state' text, 'date_of_birth' real, 'soc_sec_id' real, 'cluster' integer)"
c.execute(query)
dataframe_ehr.to_sql('Febrl_Data4B',conn,if_exists = 'replace',index = False)
conn.commit()

In [270]:
query = f"Create table if not Exists {'EHR_Deduplication'} ('given_name' text, 'surname' text, 'birthdate' real, 'address' text, 'county' text, 'city' text, 'state' text, 'zip' real, 'latitude' real, 'longitude' real)"
c.execute(query)
dataframe_ehr.to_sql('EHR_Deduplication',conn,if_exists = 'replace',index = False)
conn.commit()

NameError: name 'dataframe_ehr' is not defined

In [ ]:
c.execute("Drop table EHR_Deduplication")

In [278]:
r_df = pd.read_sql("select * from Febrl_Data4B",conn)
print(r_df.columns)

Index(['rec_id', 'given_name', 'surname', 'street_number', 'address_1',
       'address_2', 'suburb', 'postcode', 'state', 'date_of_birth',
       'soc_sec_id', 'cluster'],
      dtype='object')

### Anonylink

In [6]:
import io

In [3]:
import clkhash
from clkhash import clk
from clkhash.field_formats import *
from clkhash.schema import Schema
from clkhash.comparators import NgramComparison
from clkhash.serialization import serialize_bitarray

In [9]:
from recordlinkage import datasets
dfA,dfB = datasets.load_febrl4()

In [10]:
a_csv = io.StringIO()
dfA.to_csv(a_csv)

In [11]:
fields = [
    Ignore('rec_id'),
    StringSpec('given_name', FieldHashingProperties(comparator=NgramComparison(2), strategy=BitsPerFeatureStrategy(300))),
    StringSpec('surname', FieldHashingProperties(comparator=NgramComparison(2), strategy=BitsPerFeatureStrategy(300))),
    IntegerSpec('street_number', FieldHashingProperties(comparator=NgramComparison(1, True), strategy=BitsPerFeatureStrategy(300), missing_value=MissingValueSpec(sentinel=''))),
    StringSpec('address_1', FieldHashingProperties(comparator=NgramComparison(2), strategy=BitsPerFeatureStrategy(300))),
    StringSpec('address_2', FieldHashingProperties(comparator=NgramComparison(2), strategy=BitsPerFeatureStrategy(300))),
    StringSpec('suburb', FieldHashingProperties(comparator=NgramComparison(2), strategy=BitsPerFeatureStrategy(300))),
    IntegerSpec('postcode', FieldHashingProperties(comparator=NgramComparison(1, True), strategy=BitsPerFeatureStrategy(300))),
    StringSpec('state', FieldHashingProperties(comparator=NgramComparison(2), strategy=BitsPerFeatureStrategy(300))),
    IntegerSpec('date_of_birth', FieldHashingProperties(comparator=NgramComparison(1, True), strategy=BitsPerFeatureStrategy(300), missing_value=MissingValueSpec(sentinel=''))),
    Ignore('soc_sec_id')
]

schema = Schema(fields, 1024)

In [12]:
secret = 'secret'
a_csv.seek(0)
hashed_data_a = clk.generate_clk_from_csv(a_csv, secret, schema)

generating CLKs: 100%|█████████▉| 5.00k/5.00k [00:02<00:00, 2.24kclk/s, mean=944, std=14.4]

### Data Masking

In [32]:
import pandas as pd

In [23]:
dataframe = pd.read_excel('..\..\Dataset\Input Datasets\Febrl1_Data.xlsx')

In [18]:
dataframe.given_name[0]

nan

In [20]:
dataframe.isnull().sum()

rec_id             0
given_name        44
surname           18
street_number     45
address_1         25
address_2        115
suburb            18
postcode           0
state             15
date_of_birth     41
soc_sec_id         0
dtype: int64

In [24]:
columns_of_dataframe = dataframe.columns
for col in columns_of_dataframe:
    dataframe[col] = dataframe[col].apply(lambda x: x if str(x) == 'nan' else str(x).replace(str(x)[-3::],"XXX"))

In [26]:
dataframe

,rec_id,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
0,rec-223-XXX,NaN,walXXX,XXX,tullaroop strXXX,willaXXX,st jaXXX,4XXX,XXX,1908120XXX,6988XXX
1,rec-122-XXX,lachXXX,beXXX,6XXX,giblin strXXX,killarXXX,bittXXX,4XXX,XXX,1999021XXX,7364XXX
2,rec-373-XXX,deaXXX,sondergXXX,4XXX,goldfinch circXXX,koolXXX,canterbXXX,2XXX,XXX,1960021XXX,2635XXX
3,rec-10-duXXX,kaXXX,harringXXX,NaN,maltby circXXX,coalXXX,coolaXXX,3XXX,XXX,1915061XXX,9004XXX
4,rec-227-XXX,lXXX,purXXX,2XXX,ramsay plXXX,mirXXX,garbXXX,2XXX,XXX,1983102XXX,8099XXX
...,...,...,...,...,...,...,...,...,...,...,...
995,rec-188-duXXX,stephaXXX,XXX,2XXX,bainton crescXXX,masonic memorial villXXX,maryboroXXX,2XXX,XXX,1942100XXX,3997XXX
996,rec-334-duXXX,nichoXXX,NaN,28XXX,britten-jonues drXXX,jabaru coXXX,paddingXXX,2XXX,XXX,1997042XXX,5062XXX
997,rec-469-duXXX,lachXXX,katsiaXXX,2XXX,paul coe cdrescXXX,NaN,casXXX,2XXX,XXX,1938040XXX,4112XXX
998,rec-350-duXXX,moniXXX,gergXXX,2XXX,harwoos coXXX,hyberni a pXXX,sherwXXX,2XXX,XXX,1979080XXX,7375XXX
999,rec-212-XXX,NaN,mcveXXX,4XXX,bougainville strXXX,kimberXXX,ourimXXX,6XXX,XXX,1936021XXX,8243XXX

In [25]:
dataframe.isnull().sum()

rec_id             0
given_name        44
surname           18
street_number     45
address_1         25
address_2        115
suburb            18
postcode           0
state             15
date_of_birth     41
soc_sec_id         0
dtype: int64

#### Geocoding

In [4]:
from geopy.geocoders import Nominatim
 
# calling the Nominatim tool
loc = Nominatim(user_agent = 'myGeocode')
 
# entering the location name
getLoc = loc.geocode("Gosainganj Lucknow")

# # printing address
print(getLoc.address)
 
# # printing latitude and longitude
print("Latitude = ", getLoc.latitude, "\n")
print("Longitude = ", getLoc.longitude)

CHC, Gosainganj, Sultanpur Road, अमेठी, Mohanlalganj, Lucknow, Uttar Pradesh, 227125, India
Latitude =  26.7652312

Longitude =  81.1196719

In [67]:
geolocator = Nominatim(user_agent='myGeocoder')
latitude = dataframe['latitude'].to_list()
longitude = dataframe['longitude'].to_list()

coordinates = list(zip(latitude,longitude))
df = pd.DataFrame()
for i in range(len(dataframe)):
    if dataframe['state'][i] not in correct_states:
        df.append()
for i in range(len(coordinates)):
    
    location = locator.reverse(coordinates[i])
    
    if 'state' in location.raw['address']:
        dataframe['state'][i] = location.raw['address']['state'] 

    if 'postcode' in location.raw['address']:
        dataframe['zip'][i] = location.raw['address']['postcode']
    
    if 'county' in location.raw['address']:
        dataframe['county'][i] = location.raw['address']['county']
    
    if 'city' in location.raw['address']:
        dataframe['city'][i] = location.raw['address']['city']

NameError: name 'correct_states' is not defined

In [69]:
import pandas as pd
import geopy
df = pd.read_excel('..\..\Dataset\Input Datasets\EHR_Deduplication.xlsx')

In [70]:
latitude = dataframe['latitude'].to_list()
longitude = dataframe['longitude'].to_list()

In [71]:
dataframe = df[:150]

In [72]:
geolocator = Nominatim(user_agent='myGeocoder')
# location = geolocator.reverse((latitude,longitude))

In [75]:
def get_zipcode(df, geolocator, lat_field, lon_field):

  location = geolocator.reverse((df[lat_field], df[lon_field]), timeout= 1.5)
  if 'state' in location.raw['address'] and df['state']!=location.raw['address']['state']:
        df['state'] = location.raw['address']['state'] 

  if 'postcode' in location.raw['address'] and df['zip']!=location.raw['address']['postcode']:
      df['zip'] = location.raw['address']['postcode']
    
  if 'county' in location.raw['address'] and df['county']!=location.raw['address']['county']:
      df['county'] = location.raw['address']['county']
    
  if 'city' in location.raw['address'] and df['city']!=location.raw['address']['city']:
      df['city'] = location.raw['address']['city']

  return df

geolocator = geopy.Nominatim(user_agent = 'myGeocode')
dataframe = dataframe.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='latitude', lon_field='longitude')

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=42.15196147496354&lon=-72.59895940376188&format=json&addressdetails=1 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000264188881C0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [62]:
from concurrent.futures import ThreadPoolExecutor,wait,ProcessPoolExecutor
from geopy.extra.rate_limiter import RateLimiter
from geopy.exc import GeocoderTimedOut
from threading import Thread
import multiprocessing

In [67]:
def geocoding(dataframe):
    print("started.")
    geolocator = geopy.Nominatim(user_agent = 'myGeocode',timeout=1.4)
    def get_zipcode(df, geolocator, lat_field, lon_field):
        location = geolocator.reverse((df[lat_field], df[lon_field]))
        print(location['address'])
        if 'state' in location.raw['address'] and df['state']!=location.raw['address']['state']:
                df['state'] = location.raw['address']['state'] 

        if 'postcode' in location.raw['address'] and df['zip']!=location.raw['address']['postcode']:
            df['zip'] = location.raw['address']['postcode']
            
        if 'county' in location.raw['address'] and df['county']!=location.raw['address']['county']:
            df['county'] = location.raw['address']['county']
            
        if 'city' in location.raw['address'] and df['city']!=location.raw['address']['city']:
            df['city'] = location.raw['address']['city']

        return df
    
    dataframe = dataframe.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='latitude', lon_field='longitude')
    print('Done')
    return dataframe

In [60]:
print(dataframe)

     Unnamed: 0    given_name      surname   birthdate  \
0             0    Jacinto644      Kris249  2017-08-24
1             1       Alva958   Krajcik437  2016-08-01
2             2     Jayson808     Fadel536  1992-06-30
3             3      Jimmie93    Harris789  2004-01-09
4             4   Gregorio366       Auer97  1996-11-15
..          ...           ...          ...         ...
145         145     Josiah310    Stokes453  1987-01-24
146         146      Grady603  Hartmann983  1981-05-21
147         147  September423   Hermann103  2000-11-13
148         148       Altha90   Rolfson709  1999-08-16
149         149    Shandra823    Beatty507  2018-04-17

                            address             county         city  \
0         888 Hickle Ferry Suite 38     Hampden County     Chicopee
1               1048 Skiles Trailer     Norfolk County      Walpole
2         1056 Harris Lane Suite 70     Hampden County     Chicopee
3        201 Mitchell Lodge Unit 67    Plymouth County     Pembroke
4    1050 Lindgren Extension Apt 38     Suffolk County       Boston
..                              ...                ...          ...
145                 718 Bailey Wall   Middlesex County      Reading
146       376 Skiles Forge Suite 48   Worcester County  Westminster
147            243 Schamberger Club     Norfolk County      Norwood
148               606 O'Keefe Haven  Barnstable County   Barnstable
149        449 Cremin Estate Apt 20   Middlesex County   Burlington

             state    zip   latitude  longitude
0    Massachusetts  01013  42.151961 -72.598959
1    Massachusetts  02052  42.177370 -71.281353
2    Massachusetts  01040  42.181642 -72.608842
3    Massachusetts  02331  42.075292 -70.757035
4    Massachusetts  02210  42.352434 -71.028610
..             ...    ...        ...        ...
145  Massachusetts  01867  42.534820 -71.076579
146  Massachusetts  01473  42.533934 -71.935384
147  Massachusetts  02090  42.183472 -71.186825
148  Massachusetts  02672  41.625824 -70.331754
149  Massachusetts  01773  42.455734 -71.320955

[150 rows x 11 columns]

In [66]:
# geolocator = geopy.Nominatim(user_agent = 'myGeocode',timeout=1.5)

df1 = dataframe[0:50]
df2 = dataframe[50:100]
df3 = dataframe[100:150]
# df4 = dataframe[150:200]
# df5 = dataframe[200:250]

dataframes = [df1,df2,df3]
futures = []

# for data in dataframes:
#     process = Thread(target = geocoding, args = [data])
#     process.start()
#     futures.append(process)

# for process in futures:
#     process.join()

with ProcessPoolExecutor(max_workers=10) as executor:
    
    for result in executor.map(geocoding,dataframes):
        print(result)
    # df1 = executor.submit(geocoding,dataframe[0:100],geolocator)
    # df2 = executor.submit(geocoding,dataframe[100:200],geolocator)
    # df3 = executor.submit(geocoding,dataframe[200:300],geolocator)
    # # # df5 = executor.submit(geocoding,dataframe[40:50],geolocator)


    # print(df1.result())
    # print(df2.result())
    # print(df3.result())
 
# df = pd.concat([df1.result(),df2.result(),df3.result()])

BrokenProcessPool: A process in the process pool was terminated abruptly while the future was running or pending.

In [ ]:
from arcgis.gis import GIS
from arcgis.geocoding import reverse_geocode

gis = GIS(profile = "your_online_profile")
results = reverse_geocode()

In [30]:
dataframe = dataframe.drop(['Unnamed: 0'],axis = 1)
lat_long= list(zip(latitude,longitude))

In [32]:
lat_long= list(zip(latitude,longitude))

In [33]:
dataframe['latitude_longitude'] = lat_long

In [44]:
geolocator = Nominatim(user_agent='myGeocoder')
# location = geolocator.reverse((latitude,longitude))

In [50]:
len(dataframe)

100

In [51]:
dataframe['result_geocoding'] = dataframe['latitude_longitude'].apply()

KeyboardInterrupt:

### MySQL Database

In [1]:
# import mysql.connector
from pymysql import connect
from pandas.io import sql

In [2]:
conn = connect(
    host = "localhost",
    user='root',
    passwd="root",
)

my_cursor = conn.cursor()

In [3]:
query = "show databases"
my_cursor.execute(query)
databases = my_cursor.fetchall()

for data in databases:
    print(data)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

#### Data Deduplication

In [5]:
import pandas as pd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sqlalchemy'

In [6]:
df_duplicate = pd.read_excel('../../Dataset/Input Datasets/EHR_Linkage(2).xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [260]:
df_duplicate.columns

Index(['given_name', 'surname', 'birthdate', 'address', 'county', 'city',
       'state', 'zip', 'latitude', 'longitude'],
      dtype='object')

In [261]:
my_conn = create_engine("mysql+mysqldb://root:root@localhost/data_linkage")

In [262]:
df_duplicate.to_sql(con = my_conn,name='ehr_linkage_2', if_exists='replace',index=False)

6000

In [266]:
import mysql.connector

In [267]:
conn = connect(
    host = "localhost",
    user='root',
    passwd="root",
    db = 'data_linkage'
)

my_cursor = conn.cursor()

In [268]:
my_cursor.execute('show tables')
tables = my_cursor.fetchall()
for table in tables:
    print(table)

('ehr_linkage_1',)
('ehr_linkage_2',)
('febrl_data4a',)
('febrl_data4b',)

In [226]:
my_cursor.execute('Drop Table febrl1_data')

0

#### Data Linkage

In [172]:
import pandas as pd
from sqlalchemy import create_engine

In [179]:
df_linkage = pd.read_excel('../../Dataset/Input Datasets/EHR_Linkage(2).xlsx')

In [180]:
df_linkage.columns

Index(['Unnamed: 0', 'given_name', 'surname', 'birthdate', 'address', 'county',
       'city', 'state', 'zip', 'latitude', 'longitude'],
      dtype='object')

In [181]:
df_linkage = df_linkage[['given_name', 'surname', 'birthdate', 'address', 'county', 'city', 'state', 'zip', 'latitude', 'longitude']]
len(df_linkage)

12352

In [ ]:
my_conn = create_engine("mysql+mysqldb://root:root@localhost/data_linkage")

In [ ]:
df_duplicate.to_sql(con = my_conn,name='EHR_Deduplication', if_exists='replace',index=False)

C:\Users\GauravS15\AppData\Local\Temp\ipykernel_18120\1643481361.py:1: UserWarning: The provided table name 'EHR_Deduplication' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_duplicate.to_sql(con = my_conn,name='EHR_Deduplication', if_exists='replace',index=False)

12000

In [1]:
import mysql.connector

In [2]:
conn = connect(
    host = "localhost",
    user='root',
    passwd="root",
    db = 'deduplication'
)

my_cursor = conn.cursor()

NameError: name 'connect' is not defined

In [293]:
my_cursor.execute('show tables')
tables = my_cursor.fetchall()
for table in tables:
    print(table)

('ehr_deduplication',)
('febrl1_data',)
('febrl3_data',)

In [ ]:
# my_cursor.execute('Drop Table febrl3_data')

0